.Formcontainer{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-family: initial;
}
input{
    background-color: azure;
    height: 3.5vh;
}
.button{ 
   
    color: green !important;   
}

.todocontainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}
@media only screen and (max-width: 1400px)  {
    .todocontainer{
        grid-template-columns: 50% 50% ;
    }
 } 

@media only screen and (max-width: 900px)  {
   .todocontainer{
       display: flex;
       flex-direction: column;
   }
} 