#home:hover{
    text-decoration: none;
}
#home{
    color: white;
}
.navbar-collapse{
    display: none ;
    justify-content: center;
    transition: all 1.5s ease-in-out;
}



@media only screen and(max-width:991px)
{
    .navbar-collapse{
        display: none ;
       
    }
 
}
.lines{
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
}

.change #line1{
    transform:rotate(-45deg) translate(-9px,6px);
}
.change #line2{
    opacity: 0;
}
.change #line3{
    transform:rotate(45deg) translate(-8px,-8px);
}
.container-fluid{
    display: grid !important;
    grid-template-columns: 90% 10%;
}
.ham{
    cursor: pointer;
}

@media only screen and (min-width:991px){
    .nav-item{
        margin-bottom: 0px  !important;
    }
}